body{background: url("../images/daily.jpg") repeat-y center;background-size: 100%;}
.g-body{width: 100%;height: auto;border: 1px solid transparent;}
.g-conten{width: 85%;height: auto;margin: 8% auto;border-radius: 20px;background-color: #dcd3ce;}
.g-con{width: 95%;margin: auto;}
.g-nav{font-size: 2.5rem;font-family: "RTWSYueGoDemo";float: right;margin: 20px 0;}
.g-nav>ul>a{color: #979481;}
.g-nav>ul>a>li{float: left;margin-right: 10px;}
.g-banner{width: 100%;height: auto;}
.g-banner>img{width: 100%;}
.history_lis{width: 100%;margin-top: 30px;padding-bottom: 20px;}
.history_lis>ul>li{width: 100%;height: 30px;line-height: 30px;}
.history_lis>ul>li>a{font-family: "RTWSYueGoDemo";font-size: 2.5rem;color: #979481;display: block;}
.lis_time{float: right;}
.lis_title{float: left;}
.history_lis>h3{text-align: center;font-size: 3rem;margin-bottom: 15px;}